/**
 * sass/global/links.scss
 * @package theponderosacountryclub
 * @author Scott Shealy
 * @version 1.0.0 (2024.12.04)
 * @copyright 2024 (2024.12.04)
**/

// SETTINGS
    $link-color: $color-grayscale-0;
    $link-hover-adjustment: 3.00;
    $link-hover-adjustment-color: $color-adjustment-light;
    $link-hover-color: mix($link-color, $link-hover-adjustment-color, $color-adjustment * $link-hover-adjustment);

// STYLES
    .link {
        // GLOBAL
        // MOBILE
            @media #{$media-xs} {} //.COL-XS
            @media #{$media-sm} {} //.COL-SM
            @media #{$media-md} {} //.COL-MD
            @media #{$device-mobile} {} //.MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //.DESKTOP
            @media #{$media-lg} {} //.COL-LG
            @media #{$media-xl} {} //.COL-XL
            @media #{$media-xxl} {} //.COL-XXL
    } //.LINK